
body {
    background-color: rgba(41, 224, 163, 0.74);
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: pink;
    border: solid 1px pink;
    border-radius: 5px;
}

img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: solid black 1px;
    border-radius: 5px;
    background-color: white; */
}

div {
    border:rgba(34, 196, 142, 0.74) solid 1px;
    background-color: rgba(34, 196, 142, 0.74);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* input{
    display:none;
} */

input:checked + img {
    border: solid pink 5px;
}

#who-won{
    width: 150px;
    height 50px;
}